.container {
  width: max-content;
  background-color: white;
  border: 3px solid #1ea8af;
  position: absolute;
  top: 40px;
  left: 0px;
  color: #222;
}

.li {
  padding: 10px;
  font-size: 14px;
}
