.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #353737;
}

.ul {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: end;
  width: 950px;
}

.link {
  display: flex;
  padding: 10px;
  font-size: 14px;
  color: #d1d1d1;
}
