.container {
  display: flex;
}

.recent {
  flex: 1;
  height: 297px;
}

.original {
  flex: 1;
  height: 297px;
}

.title {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 0px;
  font-weight: 700;
  font-size: 17px;
}
